{#
/**
 * @file
 * Display cloudflare image.
 */
#}

{% if imageurl %}
  <img src="{{ imageurl | raw }}" id="{{ id | raw }}"alt="{{ filename | raw }}"/>
{% endif %}

{% if description %}
  <p class="description">{{ description }}</p>
{% endif %}
